body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name:fade;
  animation-duration: 200s;

}
.social-links img{
  height: 30px;
  width: 1000 px;
  padding-left: -46px;

}
.social-links a{
   text-decoration: none;
   margin: auto 250px;
}

@keyframes fade {
  from {opacity:1 } 
  to {opacity: 0.8}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}

.offcial-web-banner{
  background-color:cadetblue; 
  height: 60px;
  text-align: center;
  text-shadow: 68px;
  color:cornsilk;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-size:xx-large; */
}

.offcial-web_message {
  background-color:black;
  text-align: right;
  color: azure;
  text-align: center;
  font-size:x-large;
  height: 50px;
  
}

.footer {
  position: relative;
  left: 0;
  bottom:0;
  height: 250px;
  width: 100%;
  background-color:darkslategray;
  color: white;
  
}

.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background:blue;
  color: white;
}

.fa-twitter {
  background: blue;
  color: white;
}

.fa-instagram {
  background: #cb2027;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 60px;
  width: 50px;
  height: 55px;
  text-decoration:dotted;
  margin: 15px 100px;
}
.prallax0{
  background: url('https://img.freepik.com/premium-photo/ketogenic-low-carbs-diet-concept-ingredients-healthy-foods-selection-set-up-white-wooden-background_35641-4077.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
p{
  line-height: 2rem;
  font-size: 18px;
}
/* search bar -----------------------------------------------*/

.wrapper{
  max-width: 450px;
  margin: 10px auto;
}
.wrapper .search-input{
  background-color: white;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}
.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 90px 0 20px;
  font-size: 18px;
  box-shadow: px 1px 0px rgba(0,0,0,0.1);
}
.search-input icon{
  height: 55px;
  width: 55px;
  line-height: 55px;
  position:absolute;
  top:0;
  right: 0;
  text-align: center;
  font-size: 20px;
  color: blue;
  cursor: pointer;
 
}
.search-input .autocom-box{
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;


}
.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;

}
.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;

}
.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background:#efefef ;
};

